// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// RESET

body, header, h1, h2, h3, h4, h5, h6, ul, li,
a, img, span, data, p, button, hr, input, select {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-decoration: none;
	color: inherit;
}

body {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
  font-family: liberation-sans;
  min-width: 1000px;
}

ul {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

input[type=text]:focus, input[type=submit]:focus,
  input[type=password]:focus {
  outline-width: 0;
}

button:focus {
  outline-width: 0;
}

// CLEARFIX

.group:after {
	content: "";
	display: block;
	clear: both;
}

// NAV HEADER

header.nav-header {
	background-color: RGB(255, 255, 255); // white
	border-bottom: 1px solid RGB(217, 217, 222); // light grey
  position: relative;
}

a.header-logo {
  float: left;
	padding: 20px 40px;
}

div.header-logo-div {
	background-image: image-url("kickstopper-logo-transparent.png");
	background-size: contain;
	height: 20px;
	width: 175px;
}

ul.nav-header-links {
  float: left;
	font-size: 14px;
	color: RGB(130, 133, 135); // grey
	padding-right: 20px;
	border-right: 1px solid RGB(217, 217, 222); // light grey
}

ul.nav-header-links > li {
  float: left;
	font-weight: bold;
}

ul.nav-header-links > li > a {
	display: block;
	padding: 23px 15px;
}

ul.nav-header-links > li:hover {
	background-color: RGB(247, 250, 250); // very pale blue
}

// SEARCH BAR

div.search-bar {
  float: left;
}

div.magnifying-glass-icon {
  float: left;
  background-image: image-url("magnifying-glass.png");
  background-size: contain;
  height: 13px;
  width: 13px;
  margin: 23px 30px;
}

input.search-bar-input {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: RGB(168, 168, 168); // medium-light grey
  padding: 23px 0px;
}

// SEARCH POPUP

div.search-popup {
  display: block;
  width: 100%;
  height: 570px;
  background-color: RGB(247, 250, 250); // very pale blue
  border-bottom: 1px solid RGB(217, 217, 222); // light grey
}

div.search-close-bar {
  display: block;
  padding-top: 35px;
}

div.search-close-button {
  float: right;
  margin-right: 90px;
  cursor: pointer;
  color: RGB(130, 133, 135); // grey
}

div.search-popup div.project-tile {
	float: left;
	margin: 0px;
  margin-right: 15px;
  margin-top: 15px;
}

div.search-popup div.project-tile:first-of-type {
  margin-left: 80px;
}

div.search-popup  div.project-tile:last-of-type {
	margin-right: 80px;
}

button.all-search-button {
  display: block;
  margin: 25px auto 40px;
  padding: 20px 0;
  border: 1px solid RGB(217, 217, 222); // light grey
  background-color: RGB(247, 250, 250); // very pale blue
  width: calc(100% - 160px);
  border-radius: 6px;
  color: RGB(130, 133, 135); // grey
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

span.search-button-term {
  font-size: 14px;
  font-weight: bold;
  color: RGB(0, 0, 0); // black
}

button.all-search-button:hover {
  border: 1px solid RGB(0, 0, 0); // black
  color: RGB(0, 0, 0); // black
  transition: border 0.7s, color 0.7s;
}

// NAV HEADER SESSION LINKS

div.session-links-div {
  float: right;
  padding: 0px 25px 0px 0px;
}

a.session-link {
  display: block;
  float: left;
  color: RGB(0, 160, 255); // bright blue
  font-weight: bold;
  font-size: 14px;
  padding: 23px 20px;
  cursor: pointer;
}

a.session-link:hover {
  color: RGB(130, 133, 135); // grey
}

// CURRENT USER NAV

div.current-user-nav {
  float: right;
  border-left: 1px solid RGB(217, 217, 222); // light grey
  position: relative;
}

span.user-nav-label {
  display: block;
  color: RGB(130, 133, 135); // grey
  font-weight: bold;
  padding: 23px 33px 23px 20px;
  cursor: pointer;
}

a.user-nav-arrow {
	width: 0;
	height: 0;
  top: 29px;
  right: 17px;
	border-style: solid;
	border-width: 7px 5px 0 5px;
	border-color: RGB(130, 133, 135) transparent transparent transparent;
  position: absolute;
}

div.user-nav-menu {
  display: none;
  position: absolute;
  background-color: RGB(255, 255, 255); // white
  border: 1px solid RGB(217, 217, 222); // light grey
  border-top: none;
  top: calc(100% + 1px);
  right: 0px;
}

div.user-nav-menu.active {
  display: block;
  z-index: 1;
}

h6.user-menu-header {
  color: RGB(15, 33, 5); // forest green
  font-size: 14px;
  font-weight: bold;
  margin: 30px 0px 20px 20px;
}

ul.user-menu-item-list {
  color: RGB(0, 160, 255); // bright blue
  font-size: 14px;
  margin-bottom: 40px;
}

li.user-menu-item {
  margin: 0px 0px 10px 20px;
  cursor: pointer;
}

p.user-menu-text {
  display: block;
  color: RGB(130, 133, 135); // grey
  font-size: 12px;
  margin: 20px;
  margin-top: 0px;
  white-space: nowrap;
}

span.user-menu-name {
  font-weight: bold;
}

a.user-menu-logout {
  color: RGB(0, 160, 255); // bright blue
  margin-left: 10px;
  cursor: pointer;
}

div.menu-white-border {
  background-color: RGB(255, 255, 255); // white
  position: absolute;
  top: 100%;
  height: 1px;
  width: 100%;
}

// NAV FOOTER

footer.nav-footer {
	background-color: RGB(15, 33, 5); // forest green
	border-top: 1px solid RGB(43, 222, 115); // bright green
	color: RGB(255, 255, 255); // white
	font-size: 14px;
}

div.footer-column-container {
	width: 1040px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid RGB(217, 217, 222); // light grey
}

div.footer-column {
  float: left;
	width: 10%;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

h4.footer-column-header {
	font-weight: bold;
	margin-bottom: 15px;
}

a.footer-logo {
	display: block;
	margin: 30px 90px 0px;
	padding-bottom: 40px;
}

div.footer-logo-div {
	background-image: image-url("kickstopper-logo-footer-transparent.png");
	background-size: contain;
	height: 20px;
	width: 175px;
}

// STATIC WRAPPER

header.static-header {
	background-color: RGB(255, 255, 255); // white
	border-bottom: 1px solid RGB(217, 217, 222); // light grey
}

footer.static-footer {
  background-color: RGB(255, 255, 255); // white
	border-top: 1px solid RGB(217, 217, 222); // light grey
  min-height: 70px;
}

// PROJECT MAIN PAGE

section.project-main-info {
  background-color: RGB(247, 250, 250); // very pale blue
}

div.project-main-info-container {
	width: 1040px;
	padding: 50px 0px;
	margin: 0px auto;
}

// PROJECT MAIN PAGE TITLE BAR

h1.project-title {
	font-size: 32px;
	text-align: center;
	margin-bottom: 15px;
}

h6.project-byline {
	font-size: 14px;
	text-align: center;
	margin-bottom: 40px;
}

span.creator-name {
	font-weight: bold;
}

// PROJECT MAIN PAGE VIDEO PANEL

div.video-panel {
  width: 1040px;
}

div.video {
	float: left;
	width: 680px;
	height: 510px;
  overflow: hidden;
}

img.project-main-picture {
  height: 100%;
  width: auto;
}

div.main-stats-panel {
	float: right;
	padding-top: 40px;
}

data.main-stats-num {
	display: block;
  font-weight: bold;
	font-size: 48px;
	color: RGB(15, 33, 5); // forest green
}

span.main-stats-label {
	display: block;
	font-size: 14px;
	color: RGB(130, 133, 135); // grey
	margin-bottom: 10px;
}

button.back-project-button {
	background-color: RGB(43, 222, 115); // bright green
	padding: 20px 30px;
	margin: 40px 0px;
	border-radius: 5px;
	color: RGB(255, 255, 255); // white
	letter-spacing: 1px;
	cursor: pointer;
}

span.main-stats-fund-date {
	display: block;
	width: 330px;
	color: RGB(130, 133, 135); // grey
	font-size: 12px;
}

// PROJECT MAIN PAGE BLURB PANEL

p.project-blurb {
	float: left;
  width: 680px;
	font-size: 22px;
	margin: 30px 0px;
}

div.creator-panel {
	float: right;
	width: 330px;
	border-top: 1px solid RGB(217, 217, 222); // light grey
	padding-top: 30px;
}

div.creator-circle-icon {
	float: right;
	border-radius: 50%;
	background-color: RGB(0, 255, 0); // green, temp
	width: 80px;
	height: 80px;
}

div.creator-panel-text {
	float: left;
	width: 240px;
}

h6.creator-panel-name {
	display: block;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	color: RGB(15, 33, 5); // forest green
}

span.creator-panel-stats {
	display: block;
	color: RGB(130, 133, 135); // grey
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

span.creator-page-link {
	display: block;
	color: RGB(0, 160, 255); // bright blue
	font-weight: bold;
	font-size: 15px;
}

// PROJECT MAIN PAGE DIVIDER

span.project-page-divider {
	display: block;
	padding: 20px 100px;
	font-size: 14px;
	font-weight: bold;
	background-color: RGB(255, 255, 255); // white
	border-top: 1px solid RGB(217, 217, 222); // light grey
	border-bottom: 1px solid RGB(217, 217, 222); // light grey
}

// PROJECT MAIN PAGE DETAIL

section.project-detail-info {
	margin: 70px auto;
	width: 1040px;
}

div.project-description {
	float: left;
	padding-right: 40px;
	width: 640px;
}

div.project-rewards-panel {
	float: right;
	width: 330px;
}

h4.project-detail-header {
	font-size: 22px;
	margin-bottom: 50px;
}

div.project-description-picture-container {
  height: 300px;
  width: auto;
  max-width: 640px;
  overflow: hidden;
}

img.project-description-picture {
	width: auto;
	height: 100%;
}

p.project-description-body {
	margin-top: 40px;
	line-height: 1.5;
}

// PROJECT MAIN PAGE REWARDS

div.reward-tile-main {
  display: block;
  min-width: 100%;
  border-radius: 6px;
  background-color: RGB(247, 250, 250); // very pale blue
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
}

div.reward-tile-main.unhoverable {
  cursor: auto;
}

div.reward-tile-content {
  display: block;
  padding: 20px;
}

h5.reward-tile-minimum {
  display: block;
  width: 290px;
  font-size: 14px;
  font-weight: bold;
  color: RGB(15, 33, 5); // forest green
  margin-bottom: 10px;
}

span.reward-tile-title {
  display: block;
  width: 290px;
  font-size: 14px;
  font-weight: bold;
  color: RGB(15, 33, 5); // forest green
  margin-bottom: 10px;
}

p.reward-tile-description {
  font-size: 14px;
}

div.reward-tile-main-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: RGBA(43, 222, 115, 0.75); // semi-transparent bright green
}

div.reward-tile-main-hover > h3 {
  position: absolute;
  display: block;
  width: 100%;
  top: calc(45% - 11px);
  left: 0;
  color: RGB(255, 255, 255); // white
  font-size: 22px;
  text-align: center;
}

hr.reward-tile-hr {
  height: 1px;
  width: 100%;
  margin: 20px 0px 40px;
  border-top: 1px dashed RGB(217, 217, 222); // light grey
}

button.reward-tile-select-button {
  background-color: RGB(43, 222, 115); // bright green
  display: block;
  color: RGB(255, 255, 255); // white
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

// PROJECT REWARDS PAGE

div.pledge-page-title-bar {
  padding-top: 40px;
  background-color: RGB(247, 250, 250); // very pale blue
  border-bottom: 1px solid RGB(217, 217, 222); // light grey
  margin-bottom: 70px;
}

h4.pledge-page-subhead {
  font-size: 22px;
  margin-left: 40px;
  margin-bottom: 25px;
}

p.pledge-submission-error {
  color: RGB(246, 0, 47); // purple-red
  margin-left: 40px;
  margin-bottom: 25px;
}

div.reward-tile-pledge {
  display: block;
  width: 700px;
  border-radius: 6px;
  background-color: RGB(247, 250, 250); // very pale blue
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 40px;
  transition: transform 0.3s;
}

div.reward-tile-pledge:last-of-type {
  margin-bottom: 100px;
}

div.reward-tile-pledge:hover {
  transform: scale(1.03);
}

div.reward-tile-pledge.clicked {
  width: 750px;
  transform: scale(1.03);
  background-color: RGB(240, 243, 243);
  cursor: auto;
  border: 1px solid RGB(217, 217, 222); // light grey
}

div.reward-check-circle {
  display: block;
  float: left;
  height: 20px;
  width: 20px;
  border: 1px solid RGB(217, 217, 222); // light grey
  background-color: RGB(255, 255, 255); // white
  border-radius: 50%;
  margin-right: 0px;
}

div.reward-check-circle.clicked {
  background-color: RGB(43, 222, 115); // bright green
  color: RGB(255, 255, 255); // white
  text-align: center;
}

div.reward-tile-text {
  margin-left: 30px;
  margin-bottom: 20px;
  width: 600px;
  float: left;
}

hr.pledge-tile-hr {
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px dashed RGB(217, 217, 222); // light grey
}

label.pledge-label {
  display: block;
  font-size: 14px;
  color: RGB(130, 133, 135); // grey
  margin-bottom: 10px;
}

input.pledge-input {
  float: left;
  padding: 9px 20px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid RGB(217, 217, 222); // light grey
  margin-right: 40px;
}

input.pledge-input.error {
  border: 2px solid RGB(246, 0, 47); // purple-red
}

span.pledge-error {
  display: block;
  font-size: 14px;
  color: RGB(246, 0, 47); // purple-red
  margin-bottom: 10px;
}

button.pledge-tile-select-button {
  background-color: RGB(43, 222, 115); // bright green
  display: block;
  float: left;
  color: RGB(255, 255, 255); // white
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 20px;
  width: 100px;
  cursor: pointer;
}

// CHECKOUT PAGE

div.checkout-form-column {
  float: left;
  width: 680px;
  padding-left: 60px;
  padding-right: 20px;
}

div.checkout-info-column {
  float: right;
  padding-right: 40px;
  padding-left: 20px;
}

div.checkout-info-panel {
  width: 320px;
  background-color: RGB(247, 250, 250); // very pale blue
  border: 1px solid RGB(217, 217, 222); // light grey
  margin-bottom: 100px;
}

span.checkout-info-label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: RGB(130, 133, 135); // grey
  margin: 10px;
}

span.checkout-pledge-amount {
  display: block;
  font-weight: bold;
  color: RGB(15, 33, 5); // forest green
  font-size: 22px;
  padding-bottom: 20px;
  padding-left: 10px;
  border-bottom: 1px solid RGB(217, 217, 222); // light grey
}

span.checkout-reward-label {
  display: block;
  font-weight: bold;
  color: RGB(15, 33, 5); // forest green
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
}

p.checkout-reward-description {
  display: block;
  padding: 10px;
  padding-top: 0px;
  font-size: 14px;
  color: RGB(15, 33, 5); // forest green
}

h4.checkout-form-header {
  display: block;
  font-weight: bold;
  color: RGB(15, 33, 5); // forest green
  font-size: 18px;
  margin-bottom: 30px;
}

h4.checkout-form-header.form-first {
  padding-top: 30px;
}

p.checkout-form-info {
  display: block;
  font-size: 14px;
  color: RGB(15, 33, 5); // forest green
  line-height: 1.4;
  margin-bottom: 30px;
}

label.checkout-form-label {
  float: left;
  font-size: 13px;
  color: RGB(15, 33, 5); // forest green
  width: 100px;
  padding-top: 5px;
}

input.checkout-form-input {
  border: 1px solid RGB(217, 217, 222); // light grey
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

input.checkout-form-input.error {
  border: 2px solid RGB(246, 0, 47); // purple-red
}

select.checkout-form-select {
  border: 1px solid RGB(217, 217, 222); // light grey
  border-radius: 6px;
  padding: 5px;
  height: 25px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 70px;
  background-color: RGB(255, 255, 255); // white
}

select.checkout-form-select.error {
  border: 2px solid RGB(246, 0, 47); // purple-red
}

input.checkout-name {
  width: 480px;
}

input.checkout-card-number {
  width: 330px;
}

input.checkout-cvn {
  width: 70px;
  margin-bottom: 60px;
}

input.checkout-country {
  width: 300px;
}

input.checkout-postal-code {
  width: 100px;
  margin-bottom: 60px;
}

input.checkout-submit {
  background-color: RGB(43, 222, 115); // bright green
  display: block;
  color: RGB(255, 255, 255); // white
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 200px;
}

span.checkout-error {
  display: block;
  font-size: 14px;
  color: RGB(246, 0, 47); // purple-red
  margin-bottom: 10px;
}

// PROJECT TILE

div.project-tile {
	width: 230px;
	height: 400px;
	background-color: RGB(255, 255, 255); // white
	border: 1px solid RGB(217, 217, 222); // light grey
	overflow: hidden;
	border-radius: 6px;
	cursor: pointer;
}

div.tile-image-container {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

img.tile-image {
	width: auto;
  min-width: 100%;
  height: 110%;
}

div.tile-content {
	padding: 10px;
  height: 130px;
}

h6.tile-title {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 3px;
	color: RGB(15, 33, 5); // forest green
}

div.tile-content > p {
	font-size: 12px;
	line-height: 1.5;
	color: RGB(130, 133, 135); // grey
}

p.tile-byline {
	margin-bottom: 10px;
}

p.tile-blurb {
	height: 72px;
	overflow: hidden;
	margin-bottom: 20px;
}

div.tile-footer {
	padding: 10px;
}

div.tile-progress-bar {
	height: 6px;
	background-color: RGB(217, 217, 222); // light grey
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

div.tile-progress-bar.with-modal {
  background-color: RGB(41, 41, 41); // darkened grey
}

div.tile-progress-complete {
  position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: RGB(43, 222, 115); // bright green
}

div.tile-progress-complete.with-modal {
  background-color: RGB(10, 51, 0); // darkened green
}

ul.tile-stats > li {
	float: left;
	padding-right: 10px;
}

data.tile-stat-num {
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px;
	color: RGB(15, 33, 5); // forest green
}

span.tile-stat-label {
	color: RGB(130, 133, 135); // grey
	font-size: 12px;
}

// DISCOVER PAGE

div.discover-page-content {
  position: relative;
}

div.discover-lists-container {
	width: 1040px;
	margin: 0px auto;
}

// DISCOVER PAGE FILTER BOX

div.filter-box {
	display: block;
	height: 40px;
	padding: 140px 0px;
	background-color: RGB(247, 250, 250); // very pale blue
	border-bottom: 1px solid RGB(217, 217, 222); // light grey
	margin-bottom: 50px;
	color: RGB(15, 33, 5); // forest green
}

h2.filter-box-text {
	display: inline-block;
	font-size: 44px;
}

span.filter-box-dropdown {
	font-size: 44px;
	padding-bottom: 10px;
	border-bottom: 2px solid RGB(15, 33, 5); // forest green
  padding-right: 45px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

span.filter {
	margin-right: 20px;
}

span.sort {
	margin-left: 20px;
}

div.filter-text-line {
	display: block;
	padding-left: 20px;
}

a.filter-box-arrow {
	width: 0;
	height: 0;
  top: 22px;
  right: 0px;
	border-style: solid;
	border-width: 15px 20px 0 20px;
	border-color: RGB(0, 0, 0) transparent transparent transparent;
  position: absolute;
}

// DISCOVER PAGE FILTER MODAL

div.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: RGBA(0, 0, 0, 0.75); // semi-transparent black
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
}

div.modal-content {
  position: absolute;
  z-index: 1;
  color: RGB(255, 255, 255); // white
}

div.modal-content.category-modal {
  top: 20px;
  left: 20px;
}

div.modal-content.sort-modal {
  top: 20px;
  left: 500px;
}

h2.modal-main-item {
  font-size: 32px;
  margin-bottom: 10px;
  cursor: pointer;
}

ul.modal-sub-item-list {
  border-left: 3px solid RGB(255, 255, 255); // white
  margin-top: 20px;
  margin-bottom: 30px;
}

li.modal-sub-item {
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

li.modal-sub-item:last-child {
  margin-bottom: 0px;
}

h2.modal-main-item:hover, li.modal-sub-item:hover {
  color: RGBA(255, 255, 255, 0.75); // semi-transparent white
}

// DISCOVER PAGE MAIN LIST

section.main-discover-list {
	margin-bottom: 20px;
}

span.discover-list-header {
	display: block;
	color: RGB(15, 33, 5); // forest green
	font-size: 22px;
}

section.main-discover-list > div.project-tile {
	float: left;
	margin: calc((100% - (232px * 4)) / 3);
	margin-left: 0px;
}

section.main-discover-list > div.project-tile:nth-of-type(4n + 0) {
	margin-right: 0px;
}

button.expand-list-button {
	display: block;
	margin: 0px auto 60px;
	border: 2px solid RGB(130, 133, 135); // grey
	color: RGB(130, 133, 135); // grey
	background-color: RGB(255, 255, 255); // white
	border-radius: 6px;
	font-size: 14px;
	padding: 10px 20px;
	cursor: pointer;
}

// SESSION FORM

div.session-form-main {
	background-color: RGB(247, 250, 250); // very pale blue
	padding-top: 60px;
	padding-bottom: 60px;
}

div.session-form-box {
	width: 400px;
	background-color: RGB(255, 255, 255); // white
	border: 1px solid RGB(217, 217, 222); // light grey
	border-radius: 6px;
	margin: 0px auto;
}

div.session-form-divider {
	width: 400px;
  text-align: center;
	color: RGB(130, 133, 135); // grey
	font-size: 14px;
}

div.session-form-divider > hr {
	width: 40%;
	border: 1px solid RGB(217, 217, 222); // light grey
	margin-top: 7px;
}

hr.session-divider-left {
  float: left;
	margin-left: 3%;
}

hr.session-divider-right {
  float: right;
	margin-right: 3%;
}

button.facebook-login-button {
  background-color: RGB(57, 86, 147); // Facebook blue
  display: block;
  color: RGB(255, 255, 255); // white
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 20px auto 10px;
  width: 360px;
  cursor: pointer;
}

button.guest-login-button {
  background-color: RGB(43, 222, 115); // bright green
  display: block;
  color: RGB(255, 255, 255); // white
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 20px auto 10px;
  width: 360px;
  cursor: pointer;
}

p.session-button-message {
	display: block;
	text-align: center;
	font-size: 12px;
	color: RGB(130, 133, 135); // grey
  width: 250px;
	margin: 0px auto;
}

div.switch-form-section {
	display: block;
	background-color: RGBA(217, 217, 222, 0.2);
	text-align: center;
	margin-top: 40px;
	border-top: 1px solid RGB(217, 217, 222); // light grey
	padding: 20px;
	color: RGB(130, 133, 135); // grey
	font-size: 14px;
}

a.switch-form-link {
	color: RGB(0, 160, 255); // bright blue
	font-weight: bold;
	cursor: pointer;
}

form.login-form {
	margin: 20px;
}

h2.session-form-header {
  font-size: 32px;
	margin-bottom: 30px;
}

ul.session-errors-list {
  background-color: RGB(246, 0, 47); // purple-red
  border-radius: 3px;
  list-style: disc;
  color: RGB(255, 255, 255); // white
  padding: 10px 35px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

input.session-input {
	display: block;
	border: 1px solid RGB(217, 217, 222); // light grey
	border-radius: 6px;
	color: RGB(168, 168, 168); // medium-light grey
	padding: 12px 10px;
	margin: 0px auto 20px;
	width: calc(100% - 20px);
	font-size: 14px;
}

input.session-input.error {
  border: 2px solid RGB(246, 0, 47); // purple-red
}

input.session-input:focus {
  border: 1px solid RGB(0, 160, 255); // bright blue
}

input.session-submit {
	display: block;
	color: RGB(255, 255, 255); // white
	background-color: RGB(43, 222, 115); // bright green
	font-size: 14px;
	font-weight: bold;
	border-radius: 6px;
	padding: 10px 20px;
	margin: 20px auto 10px;
	width: 100%;
	cursor: pointer;
}

// UTILITY

.white-gradient {
	position: relative;
}

.white-gradient:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	height: 50%;
	width: 100%;
	background-image: linear-gradient(transparent, white);
  background-image: -webkit-linear-gradient(top, RGBA(255, 255, 255, 0), white);
}
